#### Importando as bibliotecas necessárias para iniciar a leitura dos arquivos

In [1]:
import pandas as pd

#### Importando arquivos do período de 2018 a 2024

In [2]:
df_2018 = pd.read_csv("../databases/datatran2018.csv", encoding="latin1", sep=";")
df_2019 = pd.read_csv("../databases/datatran2019.csv", encoding="latin1", sep=";")
df_2020 = pd.read_csv("../databases/datatran2020.csv", encoding="latin1", sep=";")
df_2021 = pd.read_csv("../databases/datatran2021.csv", encoding="latin1", sep=";")
df_2022 = pd.read_csv("../databases/datatran2022.csv", encoding="latin1", sep=";")
df_2023 = pd.read_csv("../databases/datatran2023.csv", encoding="latin1", sep=";")
df_2024 = pd.read_csv("../databases/datatran2024.csv", encoding="latin1", sep=";")

#### Verificando as informações dos dados presentes em cada arquivo

In [3]:
df_2018.info()
df_2019.info()
df_2020.info()
df_2021.info()
df_2022.info()
df_2023.info()
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69295 entries, 0 to 69294
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      69295 non-null  float64
 1   data_inversa            69295 non-null  object
 2   dia_semana              69295 non-null  object
 3   horario                 69295 non-null  object
 4   uf                      69295 non-null  object
 5   br                      69181 non-null  float64
 6   km                      69181 non-null  object
 7   municipio               69295 non-null  object
 8   causa_acidente          69295 non-null  object
 9   tipo_acidente           69295 non-null  object
 10  classificacao_acidente  69295 non-null  object
 11  fase_dia                69295 non-null  object
 12  sentido_via             69295 non-null  object
 13  condicao_metereologica  69295 non-null  object
 14  tipo_pista              69295 non-null  object
 15  tracado_via             69295 non-null  object
 16  uso_solo                69295 non-null  object
 17  pessoas                 69295 non-null  int64
 18  mortos                  69295 non-null  int64
 19  feridos_leves           69295 non-null  int64
 20  feridos_graves          69295 non-null  int64
 21  ilesos                  69295 non-null  int64
 22  ignorados               69295 non-null  int64
 23  feridos                 69295 non-null  int64
 24  veiculos                69295 non-null  int64
 25  latitude                69295 non-null  object
 26  longitude               69295 non-null  object
 27  regional                69295 non-null  object
 28  delegacia               69295 non-null  object
 29  uop                     66040 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 15.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67446 entries, 0 to 67445
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      67446 non-null  float64
 1   data_inversa            67446 non-null  object
 2   dia_semana              67446 non-null  object
 3   horario                 67446 non-null  object
 4   uf                      67446 non-null  object
 5   br                      67351 non-null  float64
 6   km                      67351 non-null  object
 7   municipio               67446 non-null  object
 8   causa_acidente          67446 non-null  object
 9   tipo_acidente           67446 non-null  object
 10  classificacao_acidente  67446 non-null  object
 11  fase_dia                67446 non-null  object
 12  sentido_via             67446 non-null  object
 13  condicao_metereologica  67446 non-null  object
 14  tipo_pista              67446 non-null  object
 15  tracado_via             67446 non-null  object
 16  uso_solo                67446 non-null  object
 17  pessoas                 67446 non-null  int64
 18  mortos                  67446 non-null  int64
 19  feridos_leves           67446 non-null  int64
 20  feridos_graves          67446 non-null  int64
 21  ilesos                  67446 non-null  int64
 22  ignorados               67446 non-null  int64
 23  feridos                 67446 non-null  int64
 24  veiculos                67446 non-null  int64
 25  latitude                67446 non-null  object
 26  longitude               67446 non-null  object
 27  regional                67446 non-null  object
 28  delegacia               67446 non-null  object
 29  uop                     64006 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 15.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63548 entries, 0 to 63547
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      63548 non-null  float64
 1   data_inversa            63548 non-null  object
 2   dia_semana              63548 non-null  object
 3   horario                 63548 non-null  object
 4   uf                      63548 non-null  object
 5   br                      63390 non-null  float64
 6   km                      63390 non-null  object
 7   municipio               63548 non-null  object
 8   causa_acidente          63548 non-null  object
 9   tipo_acidente           63548 non-null  object
 10  classificacao_acidente  63548 non-null  object
 11  fase_dia                63548 non-null  object
 12  sentido_via             63548 non-null  object
 13  condicao_metereologica  63548 non-null  object
 14  tipo_pista              63548 non-null  object
 15  tracado_via             63548 non-null  object
 16  uso_solo                63548 non-null  object
 17  pessoas                 63548 non-null  int64
 18  mortos                  63548 non-null  int64
 19  feridos_leves           63548 non-null  int64
 20  feridos_graves          63548 non-null  int64
 21  ilesos                  63548 non-null  int64
 22  ignorados               63548 non-null  int64
 23  feridos                 63548 non-null  int64
 24  veiculos                63548 non-null  int64
 25  latitude                63548 non-null  object
 26  longitude               63548 non-null  object
 27  regional                63548 non-null  object
 28  delegacia               63548 non-null  object
 29  uop                     63149 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 14.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30901 entries, 0 to 30900
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      30901 non-null  int64
 1   data_inversa            30901 non-null  object
 2   dia_semana              30901 non-null  object
 3   horario                 30901 non-null  object
 4   uf                      30901 non-null  object
 5   br                      30817 non-null  float64
 6   km                      30817 non-null  object
 7   municipio               30901 non-null  object
 8   causa_acidente          30901 non-null  object
 9   tipo_acidente           30901 non-null  object
 10  classificacao_acidente  30901 non-null  object
 11  fase_dia                30901 non-null  object
 12  sentido_via             30901 non-null  object
 13  condicao_metereologica  30901 non-null  object
 14  tipo_pista              30901 non-null  object
 15  tracado_via             30901 non-null  object
 16  uso_solo                30901 non-null  object
 17  pessoas                 30901 non-null  int64
 18  mortos                  30901 non-null  int64
 19  feridos_leves           30901 non-null  int64
 20  feridos_graves          30901 non-null  int64
 21  ilesos                  30901 non-null  int64
 22  ignorados               30901 non-null  int64
 23  feridos                 30901 non-null  int64
 24  veiculos                30901 non-null  int64
 25  latitude                30901 non-null  object
 26  longitude               30901 non-null  object
 27  regional                30901 non-null  object
 28  delegacia               30901 non-null  object
 29  uop                     30901 non-null  object
dtypes: float64(1), int64(9), object(20)
memory usage: 7.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64606 entries, 0 to 64605
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      64606 non-null  int64
 1   data_inversa            64606 non-null  object
 2   dia_semana              64606 non-null  object
 3   horario                 64606 non-null  object
 4   uf                      64606 non-null  object
 5   br                      64606 non-null  int64
 6   km                      64606 non-null  object
 7   municipio               64606 non-null  object
 8   causa_acidente          64606 non-null  object
 9   tipo_acidente           64606 non-null  object
 10  classificacao_acidente  64605 non-null  object
 11  fase_dia                64606 non-null  object
 12  sentido_via             64606 non-null  object
 13  condicao_metereologica  64606 non-null  object
 14  tipo_pista              64606 non-null  object
 15  tracado_via             64606 non-null  object
 16  uso_solo                64606 non-null  object
 17  pessoas                 64606 non-null  int64
 18  mortos                  64606 non-null  int64
 19  feridos_leves           64606 non-null  int64
 20  feridos_graves          64606 non-null  int64
 21  ilesos                  64606 non-null  int64
 22  ignorados               64606 non-null  int64
 23  feridos                 64606 non-null  int64
 24  veiculos                64606 non-null  int64
 25  latitude                64606 non-null  object
 26  longitude               64606 non-null  object
 27  regional                64601 non-null  object
 28  delegacia               64587 non-null  object
 29  uop                     64556 non-null  object
dtypes: int64(10), object(20)
memory usage: 14.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67766 entries, 0 to 67765
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      67766 non-null  int64
 1   data_inversa            67766 non-null  object
 2   dia_semana              67766 non-null  object
 3   horario                 67766 non-null  object
 4   uf                      67766 non-null  object
 5   br                      67766 non-null  int64
 6   km                      67766 non-null  object
 7   municipio               67766 non-null  object
 8   causa_acidente          67766 non-null  object
 9   tipo_acidente           67766 non-null  object
 10  classificacao_acidente  67765 non-null  object
 11  fase_dia                67766 non-null  object
 12  sentido_via             67766 non-null  object
 13  condicao_metereologica  67766 non-null  object
 14  tipo_pista              67766 non-null  object
 15  tracado_via             67766 non-null  object
 16  uso_solo                67766 non-null  object
 17  pessoas                 67766 non-null  int64
 18  mortos                  67766 non-null  int64
 19  feridos_leves           67766 non-null  int64
 20  feridos_graves          67766 non-null  int64
 21  ilesos                  67766 non-null  int64
 22  ignorados               67766 non-null  int64
 23  feridos                 67766 non-null  int64
 24  veiculos                67766 non-null  int64
 25  latitude                67766 non-null  object
 26  longitude               67766 non-null  object
 27  regional                67749 non-null  object
 28  delegacia               67734 non-null  object
 29  uop                     67720 non-null  object
dtypes: int64(10), object(20)
memory usage: 15.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73156 entries, 0 to 73155
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      73156 non-null  float64
 1   data_inversa            73156 non-null  object
 2   dia_semana              73156 non-null  object
 3   horario                 73156 non-null  object
 4   uf                      73156 non-null  object
 5   br                      73156 non-null  int64
 6   km                      73156 non-null  object
 7   municipio               73156 non-null  object
 8   causa_acidente          73156 non-null  object
 9   tipo_acidente           73156 non-null  object
 10  classificacao_acidente  73155 non-null  object
 11  fase_dia                73156 non-null  object
 12  sentido_via             73156 non-null  object
 13  condicao_metereologica  73156 non-null  object
 14  tipo_pista              73156 non-null  object
 15  tracado_via             73156 non-null  object
 16  uso_solo                73156 non-null  object
 17  pessoas                 73156 non-null  int64
 18  mortos                  73156 non-null  int64
 19  feridos_leves           73156 non-null  int64
 20  feridos_graves          73156 non-null  int64
 21  ilesos                  73156 non-null  int64
 22  ignorados               73156 non-null  int64
 23  feridos                 73156 non-null  int64
 24  veiculos                73156 non-null  int64
 25  latitude                73156 non-null  float64
 26  longitude               73156 non-null  float64
 27  regional                73153 non-null  object
 28  delegacia               73120 non-null  object
 29  uop                     73044 non-null  object
dtypes: float64(3), int64(9), object(18)
memory usage: 16.7+ MB

#### Unificando arquivos do período de 2018 a 2024 em um único arquivo

In [4]:
df_unified = pd.concat([
    df_2018,
    df_2019,
    df_2020,
    df_2021,
    df_2022,
    df_2023,
    df_2024
],
    ignore_index=True
)
df_unified.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,4,1,0,4,1,"-22,46937","-44,44705",SR-RJ,DEL5/7,UOP03/RJ
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,2,1,0,2,2,"-27,59971687","-48,57565694",SR-SC,DEL8/1,UOP01/SC
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,0,3,1,1,3,"-22,763901","-42,927532",SR-RJ,DEL5/4,UOP02/RJ
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,0,2,0,0,2,"-27,953636","-52,916374",SR-RS,DEL9/14,UOP01/RS
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,1,0,0,1,1,"-31,395214","-53,78391174",SR-RS,DEL9/11,UOP03/RS

#### Verificando as informações dos dados após a concatenação

In [5]:
df_unified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436718 entries, 0 to 436717
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      436718 non-null  float64
 1   data_inversa            436718 non-null  object
 2   dia_semana              436718 non-null  object
 3   horario                 436718 non-null  object
 4   uf                      436718 non-null  object
 5   br                      436267 non-null  float64
 6   km                      436267 non-null  object
 7   municipio               436718 non-null  object
 8   causa_acidente          436718 non-null  object
 9   tipo_acidente           436718 non-null  object
 10  classificacao_acidente  436715 non-null  object
 11  fase_dia                436718 non-null  object
 12  sentido_via             436718 non-null  object
 13  condicao_metereologica  436718 non-null  object
 14  tipo_pista              436718 non-null  object
 15  tracado_via             436718 non-null  object
 16  uso_solo                436718 non-null  object
 17  pessoas                 436718 non-null  int64
 18  mortos                  436718 non-null  int64
 19  feridos_leves           436718 non-null  int64
 20  feridos_graves          436718 non-null  int64
 21  ilesos                  436718 non-null  int64
 22  ignorados               436718 non-null  int64
 23  feridos                 436718 non-null  int64
 24  veiculos                436718 non-null  int64
 25  latitude                436718 non-null  object
 26  longitude               436718 non-null  object
 27  regional                436693 non-null  object
 28  delegacia               436631 non-null  object
 29  uop                     429416 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 100.0+ MB

#### Removendo colunas que não considero necessárias para a análise (ilesos, feridos_leves, feridos_graves, mortos, ignorados, latitude, longitude, regional, delegacia, uop)

In [6]:
df_unified = df_unified.drop(columns=[
    "ilesos",
    "feridos_leves",
    "feridos_graves",
    "mortos",
    "ignorados",
    "regional",
    "delegacia",
    "uop"
])
df_unified.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,sentido_via,condicao_metereologica,tipo_pista,tracado_via,uso_solo,pessoas,feridos,veiculos,latitude,longitude
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,Decrescente,Nublado,Múltipla,Reta,Sim,5,4,1,"-22,46937","-44,44705"
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,Crescente,Céu Claro,Dupla,Reta,Sim,3,2,2,"-27,59971687","-48,57565694"
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,Crescente,Nublado,Simples,Curva,Não,5,1,3,"-22,763901","-42,927532"
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,Crescente,Céu Claro,Simples,Interseção de vias,Não,2,0,2,"-27,953636","-52,916374"
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,Decrescente,Nublado,Simples,Reta,Não,1,1,1,"-31,395214","-53,78391174"

#### Salvando nova base de dados gerada à partir dos arquivos de 2018 a 2024

In [7]:
df_unified.to_csv(
    path_or_buf="../acquisition/datatran2018_2024.csv",
    index=False
)

#### Lendo os dados da base gerada acima

In [8]:
df_accidents = pd.read_csv("../acquisition/datatran2018_2024.csv")
df_accidents.info()
df_accidents.describe(include="all").T

/var/folders/z1/3syxl8gd5ks431s8c9n9mrs00000gn/T/ipykernel_32923/3382903324.py:1: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_accidents = pd.read_csv("../acquisition/datatran2018_2024.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436718 entries, 0 to 436717
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      436718 non-null  float64
 1   data_inversa            436718 non-null  object
 2   dia_semana              436718 non-null  object
 3   horario                 436718 non-null  object
 4   uf                      436718 non-null  object
 5   br                      436267 non-null  float64
 6   km                      436267 non-null  object
 7   municipio               436718 non-null  object
 8   causa_acidente          436718 non-null  object
 9   tipo_acidente           436718 non-null  object
 10  classificacao_acidente  436715 non-null  object
 11  fase_dia                436718 non-null  object
 12  sentido_via             436718 non-null  object
 13  condicao_metereologica  436718 non-null  object
 14  tipo_pista              436718 non-null  object
 15  tracado_via             436718 non-null  object
 16  uso_solo                436718 non-null  object
 17  pessoas                 436718 non-null  int64
 18  feridos                 436718 non-null  int64
 19  veiculos                436718 non-null  int64
 20  latitude                436718 non-null  object
 21  longitude               436718 non-null  object
dtypes: float64(2), int64(3), object(17)
memory usage: 73.3+ MB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,436718.0,NaN,NaN,NaN,378157.496126,167744.066093,99973.0,228786.25,353295.5,532967.5,661607.0
data_inversa,436718,2373,2018-02-10,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dia_semana,436718,7,domingo,72073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
horario,436718,1440,19:00:00,6330,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uf,436718,27,MG,56711,NaN,NaN,NaN,NaN,NaN,NaN,NaN
br,436267.0,NaN,NaN,NaN,212.121939,130.577461,0.0,101.0,158.0,324.0,498.0
km,436267,9740,1,1911,NaN,NaN,NaN,NaN,NaN,NaN,NaN
municipio,436718,2059,BRASILIA,6428,NaN,NaN,NaN,NaN,NaN,NaN,NaN
causa_acidente,436718,91,Falta de Atenção à Condução,73231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_acidente,436718,21,Colisão traseira,82354,NaN,NaN,NaN,NaN,NaN,NaN,NaN
classificacao_acidente,436715,3,Com Vítimas Feridas,327874,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fase_dia,436718,4,Pleno dia,238933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sentido_via,436718,3,Crescente,233661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
condicao_metereologica,436718,10,Céu Claro,262859,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_pista,436718,3,Simples,217959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tracado_via,436718,973,Reta,258186,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uso_solo,436718,2,Não,245773,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pessoas,436718.0,NaN,NaN,NaN,2.468852,2.033143,1.0,2.0,2.0,3.0,95.0
feridos,436718.0,NaN,NaN,NaN,1.138735,1.208558,0.0,1.0,1.0,1.0,84.0
veiculos,436718.0,NaN,NaN,NaN,1.808357,0.954748,1.0,1.0,2.0,2.0,131.0
latitude,436718,212509,"-8,766685",307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,436718,213393,"-48,67057",260,NaN,NaN,NaN,NaN,NaN,NaN,NaN