#### Importando as bibliotecas necessárias para iniciar a leitura dos arquivos

In [1]:
import pandas as pd

#### Importando arquivos do período de 2015 a 2021

In [2]:
df_2015 = pd.read_csv("../databases/acidentes2015.csv", encoding="latin")
df_2016 = pd.read_csv("../databases/acidentes2016.csv", encoding="latin", sep=";")
df_2017 = pd.read_csv("../databases/acidentes2017.csv", encoding="latin", sep=";")
df_2018 = pd.read_csv("../databases/acidentes2018.csv", encoding="latin", sep=";")
df_2019 = pd.read_csv("../databases/acidentes2019.csv", encoding="latin", sep=";")
df_2020 = pd.read_csv("../databases/acidentes2020.csv", encoding="latin", sep=";")
df_2021 = pd.read_csv("../databases/acidentes2021.csv", encoding="latin", sep=";")

#### Verificando as informações dos dados presentes em cada arquivo

In [3]:
df_2015.info()
df_2016.info()
df_2017.info()
df_2018.info()
df_2019.info()
df_2020.info()
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269052 entries, 0 to 269051
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      269052 non-null  int64
 1   pesid                   269052 non-null  int64
 2   data_inversa            269052 non-null  object
 3   dia_semana              269052 non-null  object
 4   horario                 269052 non-null  object
 5   uf                      269052 non-null  object
 6   br                      269052 non-null  int64
 7   km                      269052 non-null  float64
 8   municipio               269052 non-null  object
 9   causa_acidente          269052 non-null  object
 10  tipo_acidente           269052 non-null  object
 11  classificacao_acidente  269052 non-null  object
 12  fase_dia                269052 non-null  object
 13  sentido_via             269052 non-null  object
 14  condicao_metereologica  269052 non-null  object
 15  tipo_pista              269052 non-null  object
 16  tracado_via             269052 non-null  object
 17  uso_solo                269052 non-null  object
 18  id_veiculo              269052 non-null  object
 19  tipo_veiculo            269052 non-null  object
 20  marca                   269052 non-null  object
 21  ano_fabricacao_veiculo  269052 non-null  object
 22  tipo_envolvido          269052 non-null  object
 23  estado_fisico           269052 non-null  object
 24  idade                   268876 non-null  float64
 25  sexo                    268876 non-null  object
 26  nacionalidade           268876 non-null  object
 27  naturalidade            268876 non-null  object
dtypes: float64(2), int64(3), object(23)
memory usage: 57.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216261 entries, 0 to 216260
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      216261 non-null  int64
 1   pesid                   216261 non-null  int64
 2   data_inversa            216261 non-null  object
 3   dia_semana              216261 non-null  object
 4   horario                 216261 non-null  object
 5   uf                      216261 non-null  object
 6   br                      216261 non-null  int64
 7   km                      216261 non-null  object
 8   municipio               216261 non-null  object
 9   causa_acidente          216261 non-null  object
 10  tipo_acidente           216261 non-null  object
 11  classificacao_acidente  216259 non-null  object
 12  fase_dia                216260 non-null  object
 13  sentido_via             216261 non-null  object
 14  condicao_metereologica  216254 non-null  object
 15  tipo_pista              216261 non-null  object
 16  tracado_via             216261 non-null  object
 17  uso_solo                216261 non-null  object
 18  id_veiculo              212266 non-null  float64
 19  tipo_veiculo            212259 non-null  object
 20  marca                   182248 non-null  object
 21  ano_fabricacao_veiculo  200975 non-null  float64
 22  tipo_envolvido          216261 non-null  object
 23  estado_fisico           216258 non-null  object
 24  idade                   177122 non-null  float64
 25  sexo                    216260 non-null  object
 26  nacionalidade           206319 non-null  object
 27  naturalidade            75902 non-null   object
dtypes: float64(3), int64(3), object(22)
memory usage: 46.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204395 entries, 0 to 204394
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      204395 non-null  int64
 1   pesid                   204394 non-null  float64
 2   data_inversa            204395 non-null  object
 3   dia_semana              204395 non-null  object
 4   horario                 204395 non-null  object
 5   uf                      204395 non-null  object
 6   br                      204071 non-null  float64
 7   km                      204071 non-null  object
 8   municipio               204395 non-null  object
 9   causa_acidente          204395 non-null  object
 10  tipo_acidente           204395 non-null  object
 11  classificacao_acidente  204395 non-null  object
 12  fase_dia                204395 non-null  object
 13  sentido_via             204395 non-null  object
 14  condicao_metereologica  204395 non-null  object
 15  tipo_pista              204395 non-null  object
 16  tracado_via             204395 non-null  object
 17  uso_solo                204395 non-null  object
 18  id_veiculo              204391 non-null  float64
 19  tipo_veiculo            204395 non-null  object
 20  marca                   195211 non-null  object
 21  ano_fabricacao_veiculo  194327 non-null  float64
 22  tipo_envolvido          204395 non-null  object
 23  estado_fisico           204395 non-null  object
 24  idade                   187182 non-null  float64
 25  sexo                    204395 non-null  object
 26  ilesos                  204395 non-null  int64
 27  feridos_leves           204395 non-null  int64
 28  feridos_graves          204395 non-null  int64
 29  mortos                  204395 non-null  int64
 30  latitude                204395 non-null  object
 31  longitude               204395 non-null  object
 32  regional                204395 non-null  object
 33  delegacia               204395 non-null  object
 34  uop                     194583 non-null  object
dtypes: float64(5), int64(5), object(25)
memory usage: 54.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164802 entries, 0 to 164801
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      164802 non-null  float64
 1   pesid                   164801 non-null  float64
 2   data_inversa            164802 non-null  object
 3   dia_semana              164802 non-null  object
 4   horario                 164802 non-null  object
 5   uf                      164802 non-null  object
 6   br                      164564 non-null  float64
 7   km                      164564 non-null  object
 8   municipio               164802 non-null  object
 9   causa_acidente          164802 non-null  object
 10  tipo_acidente           164802 non-null  object
 11  classificacao_acidente  164802 non-null  object
 12  fase_dia                164802 non-null  object
 13  sentido_via             164802 non-null  object
 14  condicao_metereologica  164802 non-null  object
 15  tipo_pista              164802 non-null  object
 16  tracado_via             164802 non-null  object
 17  uso_solo                164802 non-null  object
 18  id_veiculo              164802 non-null  int64
 19  tipo_veiculo            164802 non-null  object
 20  marca                   156971 non-null  object
 21  ano_fabricacao_veiculo  155537 non-null  float64
 22  tipo_envolvido          164802 non-null  object
 23  estado_fisico           164802 non-null  object
 24  idade                   149249 non-null  float64
 25  sexo                    164802 non-null  object
 26  ilesos                  164802 non-null  int64
 27  feridos_leves           164802 non-null  int64
 28  feridos_graves          164802 non-null  int64
 29  mortos                  164802 non-null  int64
 30  latitude                164802 non-null  object
 31  longitude               164802 non-null  object
 32  regional                164802 non-null  object
 33  delegacia               164802 non-null  object
 34  uop                     156320 non-null  object
dtypes: float64(5), int64(5), object(25)
memory usage: 44.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162273 entries, 0 to 162272
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      162273 non-null  float64
 1   pesid                   162272 non-null  float64
 2   data_inversa            162273 non-null  object
 3   dia_semana              162273 non-null  object
 4   horario                 162273 non-null  object
 5   uf                      162273 non-null  object
 6   br                      162042 non-null  float64
 7   km                      162042 non-null  object
 8   municipio               162273 non-null  object
 9   causa_acidente          162273 non-null  object
 10  tipo_acidente           162273 non-null  object
 11  classificacao_acidente  162273 non-null  object
 12  fase_dia                162273 non-null  object
 13  sentido_via             162273 non-null  object
 14  condicao_metereologica  162273 non-null  object
 15  tipo_pista              162273 non-null  object
 16  tracado_via             162273 non-null  object
 17  uso_solo                162273 non-null  object
 18  id_veiculo              162273 non-null  int64
 19  tipo_veiculo            162273 non-null  object
 20  marca                   154122 non-null  object
 21  ano_fabricacao_veiculo  152353 non-null  float64
 22  tipo_envolvido          162273 non-null  object
 23  estado_fisico           162273 non-null  object
 24  idade                   146514 non-null  float64
 25  sexo                    162273 non-null  object
 26  ilesos                  162273 non-null  int64
 27  feridos_leves           162273 non-null  int64
 28  feridos_graves          162273 non-null  int64
 29  mortos                  162273 non-null  int64
 30  latitude                162273 non-null  object
 31  longitude               162273 non-null  object
 32  regional                162273 non-null  object
 33  delegacia               162273 non-null  object
 34  uop                     153754 non-null  object
dtypes: float64(5), int64(5), object(25)
memory usage: 43.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147642 entries, 0 to 147641
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      147642 non-null  float64
 1   pesid                   147641 non-null  float64
 2   data_inversa            147642 non-null  object
 3   dia_semana              147642 non-null  object
 4   horario                 147642 non-null  object
 5   uf                      147642 non-null  object
 6   br                      147241 non-null  float64
 7   km                      147241 non-null  object
 8   municipio               147642 non-null  object
 9   causa_acidente          147642 non-null  object
 10  tipo_acidente           147642 non-null  object
 11  classificacao_acidente  147642 non-null  object
 12  fase_dia                147642 non-null  object
 13  sentido_via             147642 non-null  object
 14  condicao_metereologica  147642 non-null  object
 15  tipo_pista              147642 non-null  object
 16  tracado_via             147642 non-null  object
 17  uso_solo                147642 non-null  object
 18  id_veiculo              147642 non-null  int64
 19  tipo_veiculo            147642 non-null  object
 20  marca                   139330 non-null  object
 21  ano_fabricacao_veiculo  137442 non-null  float64
 22  tipo_envolvido          147642 non-null  object
 23  estado_fisico           147642 non-null  object
 24  idade                   132858 non-null  float64
 25  sexo                    147642 non-null  object
 26  ilesos                  147642 non-null  int64
 27  feridos_leves           147642 non-null  int64
 28  feridos_graves          147642 non-null  int64
 29  mortos                  147642 non-null  int64
 30  latitude                147642 non-null  object
 31  longitude               147642 non-null  object
 32  regional                147642 non-null  object
 33  delegacia               147642 non-null  object
 34  uop                     146622 non-null  object
dtypes: float64(5), int64(5), object(25)
memory usage: 39.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70936 entries, 0 to 70935
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      70936 non-null  int64
 1   pesid                   70935 non-null  float64
 2   data_inversa            70936 non-null  object
 3   dia_semana              70936 non-null  object
 4   horario                 70936 non-null  object
 5   uf                      70936 non-null  object
 6   br                      70739 non-null  float64
 7   km                      70739 non-null  object
 8   municipio               70936 non-null  object
 9   causa_acidente          70936 non-null  object
 10  tipo_acidente           70936 non-null  object
 11  classificacao_acidente  70936 non-null  object
 12  fase_dia                70936 non-null  object
 13  sentido_via             70936 non-null  object
 14  condicao_metereologica  70936 non-null  object
 15  tipo_pista              70936 non-null  object
 16  tracado_via             70936 non-null  object
 17  uso_solo                70936 non-null  object
 18  id_veiculo              70936 non-null  int64
 19  tipo_veiculo            70936 non-null  object
 20  marca                   66907 non-null  object
 21  ano_fabricacao_veiculo  65951 non-null  float64
 22  tipo_envolvido          70936 non-null  object
 23  estado_fisico           70936 non-null  object
 24  idade                   63979 non-null  float64
 25  sexo                    70936 non-null  object
 26  ilesos                  70936 non-null  int64
 27  feridos_leves           70936 non-null  int64
 28  feridos_graves          70936 non-null  int64
 29  mortos                  70936 non-null  int64
 30  latitude                70936 non-null  object
 31  longitude               70936 non-null  object
 32  regional                70936 non-null  object
 33  delegacia               70936 non-null  object
 34  uop                     70936 non-null  object
dtypes: float64(4), int64(6), object(25)
memory usage: 18.9+ MB

#### Unificando arquivos do período de 2015 a 2021 em um único arquivo

In [4]:
df_2015_2021 = pd.concat([
    df_2015,
    df_2016,
    df_2017,
    df_2018,
    df_2019,
    df_2020,
    df_2021
],
    ignore_index=True
)
df_2015_2021.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,naturalidade,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,83298209.0,5085680.0,01/01/2015,Quinta,00:05:00,RJ,101.0,327.0,NITEROI,Outras,...,Não Informado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,83298209.0,5085683.0,01/01/2015,Quinta,00:05:00,RJ,101.0,327.0,NITEROI,Outras,...,Não Informado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83298218.0,5085748.0,01/01/2015,Quinta,01:20:00,MS,163.0,434.4,CAMPO GRANDE,Animais na Pista,...,Ipora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,83298218.0,5085750.0,01/01/2015,Quinta,01:20:00,MS,163.0,434.4,CAMPO GRANDE,Animais na Pista,...,Belem,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,83298220.0,5090792.0,01/01/2015,Quinta,01:45:00,RJ,40.0,64.0,PETROPOLIS,Outras,...,Petropolis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Verificando as informações dos dados após a concatenação

In [5]:
df_2015_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235361 entries, 0 to 1235360
Data columns (total 37 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   id                      1235361 non-null  float64
 1   pesid                   1235356 non-null  float64
 2   data_inversa            1235361 non-null  object
 3   dia_semana              1235361 non-null  object
 4   horario                 1235361 non-null  object
 5   uf                      1235361 non-null  object
 6   br                      1233970 non-null  float64
 7   km                      1233970 non-null  object
 8   municipio               1235361 non-null  object
 9   causa_acidente          1235361 non-null  object
 10  tipo_acidente           1235361 non-null  object
 11  classificacao_acidente  1235359 non-null  object
 12  fase_dia                1235360 non-null  object
 13  sentido_via             1235361 non-null  object
 14  condicao_metereologica  1235354 non-null  object
 15  tipo_pista              1235361 non-null  object
 16  tracado_via             1235361 non-null  object
 17  uso_solo                1235361 non-null  object
 18  id_veiculo              1231362 non-null  object
 19  tipo_veiculo            1231359 non-null  object
 20  marca                   1163841 non-null  object
 21  ano_fabricacao_veiculo  1175637 non-null  object
 22  tipo_envolvido          1235361 non-null  object
 23  estado_fisico           1235358 non-null  object
 24  idade                   1125780 non-null  float64
 25  sexo                    1235184 non-null  object
 26  nacionalidade           475195 non-null   object
 27  naturalidade            344778 non-null   object
 28  ilesos                  750048 non-null   float64
 29  feridos_leves           750048 non-null   float64
 30  feridos_graves          750048 non-null   float64
 31  mortos                  750048 non-null   float64
 32  latitude                750048 non-null   object
 33  longitude               750048 non-null   object
 34  regional                750048 non-null   object
 35  delegacia               750048 non-null   object
 36  uop                     722215 non-null   object
dtypes: float64(8), object(29)
memory usage: 348.7+ MB

#### Removendo colunas que não considero necessárias para a análise, provenientes dos arquivos à partir do ano de 2017 (latitude, longitude, regional, delegacia, uop)

In [6]:
df_2015_2021 = df_2015_2021.drop(columns=[
    "id_veiculo",
    "ano_fabricacao_veiculo",
    "marca",
    "nacionalidade",
    "naturalidade",
    "regional",
    "delegacia",
    "uop"
])
df_2015_2021.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,tipo_envolvido,estado_fisico,idade,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude
0,83298209.0,5085680.0,01/01/2015,Quinta,00:05:00,RJ,101.0,327.0,NITEROI,Outras,...,Condutor,Ileso,31.0,Feminino,NaN,NaN,NaN,NaN,NaN,NaN
1,83298209.0,5085683.0,01/01/2015,Quinta,00:05:00,RJ,101.0,327.0,NITEROI,Outras,...,Condutor,Ileso,54.0,Masculino,NaN,NaN,NaN,NaN,NaN,NaN
2,83298218.0,5085748.0,01/01/2015,Quinta,01:20:00,MS,163.0,434.4,CAMPO GRANDE,Animais na Pista,...,Condutor,Ileso,45.0,Masculino,NaN,NaN,NaN,NaN,NaN,NaN
3,83298218.0,5085750.0,01/01/2015,Quinta,01:20:00,MS,163.0,434.4,CAMPO GRANDE,Animais na Pista,...,Passageiro,Ferido Leve,52.0,Feminino,NaN,NaN,NaN,NaN,NaN,NaN
4,83298220.0,5090792.0,01/01/2015,Quinta,01:45:00,RJ,40.0,64.0,PETROPOLIS,Outras,...,Condutor,Ileso,33.0,Feminino,NaN,NaN,NaN,NaN,NaN,NaN

#### Salvando nova base de dados gerada à partir dos arquivos de 2015 a 2021

In [7]:
with open("../databases/acidentes2015_2021.csv", "w") as f:
    df_2015_2021.to_csv(f, index=False)

#### Lendo os dados da base gerada acima

In [8]:
df_accidents = pd.read_csv("../databases/acidentes2015_2021.csv")
df_accidents.info()
df_accidents.describe(include="all").T

/var/folders/z1/3syxl8gd5ks431s8c9n9mrs00000gn/T/ipykernel_10532/2856566775.py:1: DtypeWarning: Columns (7,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_accidents = pd.read_csv("../databases/acidentes2015_2021.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235361 entries, 0 to 1235360
Data columns (total 29 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   id                      1235361 non-null  float64
 1   pesid                   1235356 non-null  float64
 2   data_inversa            1235361 non-null  object
 3   dia_semana              1235361 non-null  object
 4   horario                 1235361 non-null  object
 5   uf                      1235361 non-null  object
 6   br                      1233970 non-null  float64
 7   km                      1233970 non-null  object
 8   municipio               1235361 non-null  object
 9   causa_acidente          1235361 non-null  object
 10  tipo_acidente           1235361 non-null  object
 11  classificacao_acidente  1235359 non-null  object
 12  fase_dia                1235360 non-null  object
 13  sentido_via             1235361 non-null  object
 14  condicao_metereologica  1235354 non-null  object
 15  tipo_pista              1235361 non-null  object
 16  tracado_via             1235361 non-null  object
 17  uso_solo                1235361 non-null  object
 18  tipo_veiculo            1231359 non-null  object
 19  tipo_envolvido          1235361 non-null  object
 20  estado_fisico           1235358 non-null  object
 21  idade                   1125780 non-null  float64
 22  sexo                    1235184 non-null  object
 23  ilesos                  750048 non-null   float64
 24  feridos_leves           750048 non-null   float64
 25  feridos_graves          750048 non-null   float64
 26  mortos                  750048 non-null   float64
 27  latitude                750048 non-null   object
 28  longitude               750048 non-null   object
dtypes: float64(8), object(21)
memory usage: 273.3+ MB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,1235361.0,NaN,NaN,NaN,32881899.278247,40648416.047474,8.0,155159.0,303036.0,83384409.0,83529889.0
pesid,1235356.0,NaN,NaN,NaN,27207768.185317,38534613.556713,1.0,339779.75,674073.5,83483070.25,83988085.0
data_inversa,1235361,2373,05/04/2015,1536,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dia_semana,1235361,25,domingo,128202,NaN,NaN,NaN,NaN,NaN,NaN,NaN
horario,1235361,1446,19:00:00,19277,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uf,1235361,27,MG,165059,NaN,NaN,NaN,NaN,NaN,NaN,NaN
br,1233970.0,NaN,NaN,NaN,214.596939,129.966068,0.0,101.0,163.0,324.0,660.0
km,1233970,19831,1,3829,NaN,NaN,NaN,NaN,NaN,NaN,NaN
municipio,1235361,2111,BRASILIA,16447,NaN,NaN,NaN,NaN,NaN,NaN,NaN
causa_acidente,1235361,131,Falta de Atenção à Condução,204535,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_acidente,1235361,43,Colisão traseira,277816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
classificacao_acidente,1235359,11,Com Vítimas Feridas,700721,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fase_dia,1235360,6,Pleno dia,696450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sentido_via,1235361,5,Decrescente,584982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
condicao_metereologica,1235354,15,Céu Claro,340089,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_pista,1235361,7,Simples,518446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tracado_via,1235361,19,Reta,623359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uso_solo,1235361,7,Não,341324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_veiculo,1231359,47,Automóvel,502032,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_envolvido,1235361,8,Condutor,892859,NaN,NaN,NaN,NaN,NaN,NaN,NaN
estado_fisico,1235358,18,Ileso,448617,NaN,NaN,NaN,NaN,NaN,NaN,NaN
idade,1125780.0,NaN,NaN,NaN,37.857143,51.11086,-1.0,26.0,35.0,47.0,2020.0
sexo,1235184,9,Masculino,742721,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ilesos,750048.0,NaN,NaN,NaN,0.448387,0.497329,0.0,0.0,0.0,1.0,1.0
feridos_leves,750048.0,NaN,NaN,NaN,0.353597,0.478086,0.0,0.0,0.0,1.0,1.0
feridos_graves,750048.0,NaN,NaN,NaN,0.1071,0.30924,0.0,0.0,0.0,0.0,1.0
mortos,750048.0,NaN,NaN,NaN,0.032811,0.178142,0.0,0.0,0.0,0.0,1.0
latitude,750048,188725,"-3,76999035",460,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,750048,188874,"-38,67006282",460,NaN,NaN,NaN,NaN,NaN,NaN,NaN