### Importando as bibliotecas necessárias para iniciar a leitura dos arquivos

In [3]:
import pandas as pd

### Importando arquivos do período de 2011 a 2021

In [30]:

df_2011 = pd.read_csv("../../databases/acidentes2011.csv", encoding="latin")
df_2012 = pd.read_csv("../../databases/acidentes2012.csv", encoding="latin")
df_2013 = pd.read_csv("../../databases/acidentes2013.csv", encoding="latin")
df_2014 = pd.read_csv("../../databases/acidentes2014.csv", encoding="latin")
df_2015 = pd.read_csv("../../databases/acidentes2015.csv", encoding="latin")
df_2016 = pd.read_csv("../../databases/acidentes2016.csv", encoding="latin", sep=";")
df_2017 = pd.read_csv("../../databases/acidentes2017.csv", encoding="latin", sep=";")
df_2018 = pd.read_csv("../../databases/acidentes2018.csv", encoding="latin", sep=";")
df_2019 = pd.read_csv("../../databases/acidentes2019.csv", encoding="latin", sep=";")
df_2020 = pd.read_csv("../../databases/acidentes2020.csv", encoding="latin", sep=";")
df_2021 = pd.read_csv("../../databases/acidentes2021.csv", encoding="latin", sep=";")

/var/folders/z1/3syxl8gd5ks431s8c9n9mrs00000gn/T/ipykernel_9239/1180877235.py:2: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2012 = pd.read_csv("../../databases/acidentes2012.csv", encoding="latin")

### Verificando as informações dos dados presentes em cada arquivo

In [31]:
df_2011.info()
df_2012.info()
df_2013.info()
df_2014.info()
df_2015.info()
df_2016.info()
df_2017.info()
df_2018.info()
df_2019.info()
df_2020.info()
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412289 entries, 0 to 412288
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      412289 non-null  int64
 1   pesid                   412289 non-null  int64
 2   data_inversa            412289 non-null  object
 3   dia_semana              412289 non-null  object
 4   horario                 412289 non-null  object
 5   uf                      412289 non-null  object
 6   br                      412289 non-null  int64
 7   km                      412289 non-null  float64
 8   municipio               412289 non-null  object
 9   causa_acidente          412289 non-null  object
 10  tipo_acidente           412289 non-null  object
 11  classificacao_acidente  412289 non-null  object
 12  fase_dia                412289 non-null  object
 13  sentido_via             412289 non-null  object
 14  condicao_metereologica  412289 non-null  object
 15  tipo_pista              412289 non-null  object
 16  tracado_via             412289 non-null  object
 17  uso_solo                412289 non-null  object
 18  id_veiculo              412289 non-null  object
 19  tipo_veiculo            412289 non-null  object
 20  marca                   412289 non-null  object
 21  ano_fabricacao_veiculo  412289 non-null  object
 22  tipo_envolvido          412289 non-null  object
 23  estado_fisico           412289 non-null  object
 24  idade                   412227 non-null  float64
 25  sexo                    412227 non-null  object
 26  nacionalidade           412227 non-null  object
 27  naturalidade            412227 non-null  object
dtypes: float64(2), int64(3), object(23)
memory usage: 88.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396916 entries, 0 to 396915
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      396916 non-null  int64
 1   pesid                   396916 non-null  int64
 2   data_inversa            396916 non-null  object
 3   dia_semana              396916 non-null  object
 4   horario                 396916 non-null  object
 5   uf                      396916 non-null  object
 6   br                      396916 non-null  object
 7   km                      396916 non-null  object
 8   municipio               396916 non-null  object
 9   causa_acidente          396916 non-null  object
 10  tipo_acidente           396916 non-null  object
 11  classificacao_acidente  396916 non-null  object
 12  fase_dia                396916 non-null  object
 13  sentido_via             396916 non-null  object
 14  condicao_metereologica  396916 non-null  object
 15  tipo_pista              396916 non-null  object
 16  tracado_via             396916 non-null  object
 17  uso_solo                396916 non-null  object
 18  id_veiculo              396916 non-null  object
 19  tipo_veiculo            396916 non-null  object
 20  marca                   396916 non-null  object
 21  ano_fabricacao_veiculo  396916 non-null  object
 22  tipo_envolvido          396916 non-null  object
 23  estado_fisico           396916 non-null  object
 24  idade                   396859 non-null  float64
 25  sexo                    396859 non-null  object
 26  nacionalidade           396859 non-null  object
 27  naturalidade            396859 non-null  object
dtypes: float64(1), int64(2), object(25)
memory usage: 84.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405820 entries, 0 to 405819
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      405820 non-null  int64
 1   pesid                   405820 non-null  int64
 2   data_inversa            405820 non-null  object
 3   dia_semana              405820 non-null  object
 4   horario                 405820 non-null  object
 5   uf                      405820 non-null  object
 6   br                      405820 non-null  int64
 7   km                      405820 non-null  float64
 8   municipio               405820 non-null  object
 9   causa_acidente          405820 non-null  object
 10  tipo_acidente           405820 non-null  object
 11  classificacao_acidente  405820 non-null  object
 12  fase_dia                405820 non-null  object
 13  sentido_via             405820 non-null  object
 14  condicao_metereologica  405820 non-null  object
 15  tipo_pista              405820 non-null  object
 16  tracado_via             405820 non-null  object
 17  uso_solo                405820 non-null  object
 18  id_veiculo              405820 non-null  object
 19  tipo_veiculo            405820 non-null  object
 20  marca                   405820 non-null  object
 21  ano_fabricacao_veiculo  405820 non-null  object
 22  tipo_envolvido          405820 non-null  object
 23  estado_fisico           405820 non-null  object
 24  idade                   405763 non-null  float64
 25  sexo                    405763 non-null  object
 26  nacionalidade           405763 non-null  object
 27  naturalidade            405763 non-null  object
dtypes: float64(2), int64(3), object(23)
memory usage: 86.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368506 entries, 0 to 368505
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      368506 non-null  int64
 1   pesid                   368506 non-null  int64
 2   data_inversa            368506 non-null  object
 3   dia_semana              368506 non-null  object
 4   horario                 368506 non-null  object
 5   uf                      368506 non-null  object
 6   br                      368506 non-null  int64
 7   km                      368506 non-null  float64
 8   municipio               368506 non-null  object
 9   causa_acidente          368506 non-null  object
 10  tipo_acidente           368506 non-null  object
 11  classificacao_acidente  368506 non-null  object
 12  fase_dia                368506 non-null  object
 13  sentido_via             368506 non-null  object
 14  condicao_metereologica  368506 non-null  object
 15  tipo_pista              368506 non-null  object
 16  tracado_via             368506 non-null  object
 17  uso_solo                368506 non-null  object
 18  id_veiculo              368506 non-null  object
 19  tipo_veiculo            368506 non-null  object
 20  marca                   368506 non-null  object
 21  ano_fabricacao_veiculo  368506 non-null  object
 22  tipo_envolvido          368506 non-null  object
 23  estado_fisico           368506 non-null  object
 24  idade                   368284 non-null  float64
 25  sexo                    368284 non-null  object
 26  nacionalidade           368284 non-null  object
 27  naturalidade            368284 non-null  object
dtypes: float64(2), int64(3), object(23)
memory usage: 78.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269052 entries, 0 to 269051
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      269052 non-null  int64
 1   pesid                   269052 non-null  int64
 2   data_inversa            269052 non-null  object
 3   dia_semana              269052 non-null  object
 4   horario                 269052 non-null  object
 5   uf                      269052 non-null  object
 6   br                      269052 non-null  int64
 7   km                      269052 non-null  float64
 8   municipio               269052 non-null  object
 9   causa_acidente          269052 non-null  object
 10  tipo_acidente           269052 non-null  object
 11  classificacao_acidente  269052 non-null  object
 12  fase_dia                269052 non-null  object
 13  sentido_via             269052 non-null  object
 14  condicao_metereologica  269052 non-null  object
 15  tipo_pista              269052 non-null  object
 16  tracado_via             269052 non-null  object
 17  uso_solo                269052 non-null  object
 18  id_veiculo              269052 non-null  object
 19  tipo_veiculo            269052 non-null  object
 20  marca                   269052 non-null  object
 21  ano_fabricacao_veiculo  269052 non-null  object
 22  tipo_envolvido          269052 non-null  object
 23  estado_fisico           269052 non-null  object
 24  idade                   268876 non-null  float64
 25  sexo                    268876 non-null  object
 26  nacionalidade           268876 non-null  object
 27  naturalidade            268876 non-null  object
dtypes: float64(2), int64(3), object(23)
memory usage: 57.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216261 entries, 0 to 216260
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      216261 non-null  int64
 1   pesid                   216261 non-null  int64
 2   data_inversa            216261 non-null  object
 3   dia_semana              216261 non-null  object
 4   horario                 216261 non-null  object
 5   uf                      216261 non-null  object
 6   br                      216261 non-null  int64
 7   km                      216261 non-null  object
 8   municipio               216261 non-null  object
 9   causa_acidente          216261 non-null  object
 10  tipo_acidente           216261 non-null  object
 11  classificacao_acidente  216259 non-null  object
 12  fase_dia                216260 non-null  object
 13  sentido_via             216261 non-null  object
 14  condicao_metereologica  216254 non-null  object
 15  tipo_pista              216261 non-null  object
 16  tracado_via             216261 non-null  object
 17  uso_solo                216261 non-null  object
 18  id_veiculo              212266 non-null  float64
 19  tipo_veiculo            212259 non-null  object
 20  marca                   182248 non-null  object
 21  ano_fabricacao_veiculo  200975 non-null  float64
 22  tipo_envolvido          216261 non-null  object
 23  estado_fisico           216258 non-null  object
 24  idade                   177122 non-null  float64
 25  sexo                    216260 non-null  object
 26  nacionalidade           206319 non-null  object
 27  naturalidade            75902 non-null   object
dtypes: float64(3), int64(3), object(22)
memory usage: 46.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204395 entries, 0 to 204394
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      204395 non-null  int64
 1   pesid                   204394 non-null  float64
 2   data_inversa            204395 non-null  object
 3   dia_semana              204395 non-null  object
 4   horario                 204395 non-null  object
 5   uf                      204395 non-null  object
 6   br                      204071 non-null  float64
 7   km                      204071 non-null  object
 8   municipio               204395 non-null  object
 9   causa_acidente          204395 non-null  object
 10  tipo_acidente           204395 non-null  object
 11  classificacao_acidente  204395 non-null  object
 12  fase_dia                204395 non-null  object
 13  sentido_via             204395 non-null  object
 14  condicao_metereologica  204395 non-null  object
 15  tipo_pista              204395 non-null  object
 16  tracado_via             204395 non-null  object
 17  uso_solo                204395 non-null  object
 18  id_veiculo              204391 non-null  float64
 19  tipo_veiculo            204395 non-null  object
 20  marca                   195211 non-null  object
 21  ano_fabricacao_veiculo  194327 non-null  float64
 22  tipo_envolvido          204395 non-null  object
 23  estado_fisico           204395 non-null  object
 24  idade                   187182 non-null  float64
 25  sexo                    204395 non-null  object
 26  ilesos                  204395 non-null  int64
 27  feridos_leves           204395 non-null  int64
 28  feridos_graves          204395 non-null  int64
 29  mortos                  204395 non-null  int64
 30  latitude                204395 non-null  object
 31  longitude               204395 non-null  object
 32  regional                204395 non-null  object
 33  delegacia               204395 non-null  object
 34  uop                     194583 non-null  object
dtypes: float64(5), int64(5), object(25)
memory usage: 54.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164802 entries, 0 to 164801
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      164802 non-null  float64
 1   pesid                   164801 non-null  float64
 2   data_inversa            164802 non-null  object
 3   dia_semana              164802 non-null  object
 4   horario                 164802 non-null  object
 5   uf                      164802 non-null  object
 6   br                      164564 non-null  float64
 7   km                      164564 non-null  object
 8   municipio               164802 non-null  object
 9   causa_acidente          164802 non-null  object
 10  tipo_acidente           164802 non-null  object
 11  classificacao_acidente  164802 non-null  object
 12  fase_dia                164802 non-null  object
 13  sentido_via             164802 non-null  object
 14  condicao_metereologica  164802 non-null  object
 15  tipo_pista              164802 non-null  object
 16  tracado_via             164802 non-null  object
 17  uso_solo                164802 non-null  object
 18  id_veiculo              164802 non-null  int64
 19  tipo_veiculo            164802 non-null  object
 20  marca                   156971 non-null  object
 21  ano_fabricacao_veiculo  155537 non-null  float64
 22  tipo_envolvido          164802 non-null  object
 23  estado_fisico           164802 non-null  object
 24  idade                   149249 non-null  float64
 25  sexo                    164802 non-null  object
 26  ilesos                  164802 non-null  int64
 27  feridos_leves           164802 non-null  int64
 28  feridos_graves          164802 non-null  int64
 29  mortos                  164802 non-null  int64
 30  latitude                164802 non-null  object
 31  longitude               164802 non-null  object
 32  regional                164802 non-null  object
 33  delegacia               164802 non-null  object
 34  uop                     156320 non-null  object
dtypes: float64(5), int64(5), object(25)
memory usage: 44.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162273 entries, 0 to 162272
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      162273 non-null  float64
 1   pesid                   162272 non-null  float64
 2   data_inversa            162273 non-null  object
 3   dia_semana              162273 non-null  object
 4   horario                 162273 non-null  object
 5   uf                      162273 non-null  object
 6   br                      162042 non-null  float64
 7   km                      162042 non-null  object
 8   municipio               162273 non-null  object
 9   causa_acidente          162273 non-null  object
 10  tipo_acidente           162273 non-null  object
 11  classificacao_acidente  162273 non-null  object
 12  fase_dia                162273 non-null  object
 13  sentido_via             162273 non-null  object
 14  condicao_metereologica  162273 non-null  object
 15  tipo_pista              162273 non-null  object
 16  tracado_via             162273 non-null  object
 17  uso_solo                162273 non-null  object
 18  id_veiculo              162273 non-null  int64
 19  tipo_veiculo            162273 non-null  object
 20  marca                   154122 non-null  object
 21  ano_fabricacao_veiculo  152353 non-null  float64
 22  tipo_envolvido          162273 non-null  object
 23  estado_fisico           162273 non-null  object
 24  idade                   146514 non-null  float64
 25  sexo                    162273 non-null  object
 26  ilesos                  162273 non-null  int64
 27  feridos_leves           162273 non-null  int64
 28  feridos_graves          162273 non-null  int64
 29  mortos                  162273 non-null  int64
 30  latitude                162273 non-null  object
 31  longitude               162273 non-null  object
 32  regional                162273 non-null  object
 33  delegacia               162273 non-null  object
 34  uop                     153754 non-null  object
dtypes: float64(5), int64(5), object(25)
memory usage: 43.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147642 entries, 0 to 147641
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      147642 non-null  float64
 1   pesid                   147641 non-null  float64
 2   data_inversa            147642 non-null  object
 3   dia_semana              147642 non-null  object
 4   horario                 147642 non-null  object
 5   uf                      147642 non-null  object
 6   br                      147241 non-null  float64
 7   km                      147241 non-null  object
 8   municipio               147642 non-null  object
 9   causa_acidente          147642 non-null  object
 10  tipo_acidente           147642 non-null  object
 11  classificacao_acidente  147642 non-null  object
 12  fase_dia                147642 non-null  object
 13  sentido_via             147642 non-null  object
 14  condicao_metereologica  147642 non-null  object
 15  tipo_pista              147642 non-null  object
 16  tracado_via             147642 non-null  object
 17  uso_solo                147642 non-null  object
 18  id_veiculo              147642 non-null  int64
 19  tipo_veiculo            147642 non-null  object
 20  marca                   139330 non-null  object
 21  ano_fabricacao_veiculo  137442 non-null  float64
 22  tipo_envolvido          147642 non-null  object
 23  estado_fisico           147642 non-null  object
 24  idade                   132858 non-null  float64
 25  sexo                    147642 non-null  object
 26  ilesos                  147642 non-null  int64
 27  feridos_leves           147642 non-null  int64
 28  feridos_graves          147642 non-null  int64
 29  mortos                  147642 non-null  int64
 30  latitude                147642 non-null  object
 31  longitude               147642 non-null  object
 32  regional                147642 non-null  object
 33  delegacia               147642 non-null  object
 34  uop                     146622 non-null  object
dtypes: float64(5), int64(5), object(25)
memory usage: 39.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70936 entries, 0 to 70935
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      70936 non-null  int64
 1   pesid                   70935 non-null  float64
 2   data_inversa            70936 non-null  object
 3   dia_semana              70936 non-null  object
 4   horario                 70936 non-null  object
 5   uf                      70936 non-null  object
 6   br                      70739 non-null  float64
 7   km                      70739 non-null  object
 8   municipio               70936 non-null  object
 9   causa_acidente          70936 non-null  object
 10  tipo_acidente           70936 non-null  object
 11  classificacao_acidente  70936 non-null  object
 12  fase_dia                70936 non-null  object

### Unificando arquivos do período de 2011 a 2021 em um único arquivo

In [36]:
df_2011_2021 = pd.concat([
    df_2011,
    df_2012,
    df_2013,
    df_2014,
    df_2015,
    df_2016,
    df_2017,
    df_2018,
    df_2019,
    df_2020,
    df_2021
],
    ignore_index=True
)
df_2011_2021.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,naturalidade,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,26946.0,2715647.0,16/04/2011,Sábado,22:20:00,SP,153,59.9,SAO JOSE DO RIO PRETO,Ingestão de álcool,...,Uchoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,674607.0,2033386.0,29/08/2011,Segunda,16:10:00,RJ,101,488.0,ANGRA DOS REIS,Falta de atenção,...,Não Informado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,674607.0,2033390.0,29/08/2011,Segunda,16:10:00,RJ,101,488.0,ANGRA DOS REIS,Falta de atenção,...,Não Informado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,830363.0,2525787.0,01/01/2011,Sábado,01:00:00,RJ,116,214.0,PIRAI,Outras,...,Volta Redonda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,830383.0,2533410.0,01/01/2011,Sábado,00:15:00,CE,116,69.6,CHOROZINHO,Desobediência à sinalização,...,Não Informado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Verificando as informações dos dados após a concatenação

In [37]:
df_2011_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2818892 entries, 0 to 2818891
Data columns (total 37 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id                      float64
 1   pesid                   float64
 2   data_inversa            object
 3   dia_semana              object
 4   horario                 object
 5   uf                      object
 6   br                      object
 7   km                      object
 8   municipio               object
 9   causa_acidente          object
 10  tipo_acidente           object
 11  classificacao_acidente  object
 12  fase_dia                object
 13  sentido_via             object
 14  condicao_metereologica  object
 15  tipo_pista              object
 16  tracado_via             object
 17  uso_solo                object
 18  id_veiculo              object
 19  tipo_veiculo            object
 20  marca                   object
 21  ano_fabricacao_veiculo  object
 22  tipo_envolvido          object
 23  estado_fisico           object
 24  idade                   float64
 25  sexo                    object
 26  nacionalidade           object
 27  naturalidade            object
 28  ilesos                  float64
 29  feridos_leves           float64
 30  feridos_graves          float64
 31  mortos                  float64
 32  latitude                object
 33  longitude               object
 34  regional                object
 35  delegacia               object
 36  uop                     object
dtypes: float64(7), object(30)
memory usage: 795.7+ MB

### Removendo colunas que não considero necessárias para a análise, provenientes dos arquivos à partir do ano de 2017 (latitude, longitude, regional, delegacia, uop)

In [ ]:
df_2011_2021 = df_2011_2021.drop(columns=[
    "regional",
    "delegacia",
    "uop"
])
df_2011_2021.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,idade,sexo,nacionalidade,naturalidade,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude
0,26946.0,2715647.0,16/04/2011,Sábado,22:20:00,SP,153,59.9,SAO JOSE DO RIO PRETO,Ingestão de álcool,...,40.0,Masculino,Brasil,Uchoa,NaN,NaN,NaN,NaN,NaN,NaN
1,674607.0,2033386.0,29/08/2011,Segunda,16:10:00,RJ,101,488.0,ANGRA DOS REIS,Falta de atenção,...,52.0,Masculino,Brasil,Não Informado,NaN,NaN,NaN,NaN,NaN,NaN
2,674607.0,2033390.0,29/08/2011,Segunda,16:10:00,RJ,101,488.0,ANGRA DOS REIS,Falta de atenção,...,40.0,Masculino,Brasil,Não Informado,NaN,NaN,NaN,NaN,NaN,NaN
3,830363.0,2525787.0,01/01/2011,Sábado,01:00:00,RJ,116,214.0,PIRAI,Outras,...,35.0,Masculino,Brasil,Volta Redonda,NaN,NaN,NaN,NaN,NaN,NaN
4,830383.0,2533410.0,01/01/2011,Sábado,00:15:00,CE,116,69.6,CHOROZINHO,Desobediência à sinalização,...,46.0,Masculino,Brasil,Não Informado,NaN,NaN,NaN,NaN,NaN,NaN

### Salvando nova base de dados gerada à partir dos arquivos de 2011 a 2021

In [42]:
with open("../../databases/acidentes2011_2021.csv", "w") as f:
    df_2011_2021.to_csv(f, index=False)

### Lendo os dados da base gerada acima

In [ ]:
df_accidents = pd.read_csv("../../databases/acidentes2011_2021.csv")
df_accidents.info()
df_accidents.describe(include="all").T

/var/folders/z1/3syxl8gd5ks431s8c9n9mrs00000gn/T/ipykernel_12914/1914107478.py:1: DtypeWarning: Columns (6,7,18,21,26,27,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_accidents = pd.read_csv("../../databases/acidentes2011_2021.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2818892 entries, 0 to 2818891
Data columns (total 34 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id                      float64
 1   pesid                   float64
 2   data_inversa            object
 3   dia_semana              object
 4   horario                 object
 5   uf                      object
 6   br                      object
 7   km                      object
 8   municipio               object
 9   causa_acidente          object
 10  tipo_acidente           object
 11  classificacao_acidente  object
 12  fase_dia                object
 13  sentido_via             object
 14  condicao_metereologica  object
 15  tipo_pista              object
 16  tracado_via             object
 17  uso_solo                object
 18  id_veiculo              object
 19  tipo_veiculo            object
 20  marca                   object
 21  ano_fabricacao_veiculo  object
 22  tipo_envolvido          object
 23  estado_fisico           object
 24  idade                   float64
 25  sexo                    object
 26  nacionalidade           object
 27  naturalidade            object
 28  ilesos                  float64
 29  feridos_leves           float64
 30  feridos_graves          float64
 31  mortos                  float64
 32  latitude                object
 33  longitude               object
dtypes: float64(7), object(27)
memory usage: 731.2+ MB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,2818892.0,NaN,NaN,NaN,31081836.95494,39821890.171416,8.0,345112.0,1158363.5,83197564.0,83529889.0
pesid,2818887.0,NaN,NaN,NaN,14122555.72547,28095952.168417,1.0,769528.5,3589676.0,4740393.5,83988085.0
data_inversa,2818892,3834,21/04/2011,2696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dia_semana,2818892,25,Domingo,319570,NaN,NaN,NaN,NaN,NaN,NaN,NaN
horario,2818892,1473,18:00:00,45772,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uf,2818892,28,MG,375157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
br,2817501.0,286.0,101.0,458769.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
km,2817501.0,25668.0,1.0,7681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
municipio,2818892,2238,CURITIBA,38511,NaN,NaN,NaN,NaN,NaN,NaN,NaN
causa_acidente,2818892,132,Falta de atenção,700975,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_acidente,2818892,43,Colisão traseira,838135,NaN,NaN,NaN,NaN,NaN,NaN,NaN
classificacao_acidente,2818890,11,Com Vítimas Feridas,1318172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fase_dia,2818891,6,Pleno dia,1651766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sentido_via,2818892,5,Decrescente,1356733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
condicao_metereologica,2818885,15,Ceu Claro,1034564,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_pista,2818892,7,Simples,966483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tracado_via,2818892,19,Reta,1387613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uso_solo,2818892,7,Urbano,1119505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_veiculo,2814893,2195242,(null),25468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_veiculo,2814890,48,Automóvel,1292387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marca,2747372,21331,(null),275944,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ano_fabricacao_veiculo,2759168,248,2010,187477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_envolvido,2818892,11,Condutor,2194918,NaN,NaN,NaN,NaN,NaN,NaN,NaN
estado_fisico,2818889,18,Ileso,1226974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
idade,2708913.0,NaN,NaN,NaN,34.457141,35.983494,-1.0,24.0,34.0,46.0,2020.0
sexo,2818317,9,Masculino,2004391,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nacionalidade,2058328,115,Brasil,1772473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
naturalidade,1927911,9468,Não Informado,970502,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ilesos,750048.0,NaN,NaN,NaN,0.448387,0.497329,0.0,0.0,0.0,1.0,1.0
feridos_leves,750048.0,NaN,NaN,NaN,0.353597,0.478086,0.0,0.0,0.0,1.0,1.0
feridos_graves,750048.0,NaN,NaN,NaN,0.1071,0.30924,0.0,0.0,0.0,0.0,1.0
mortos,750048.0,NaN,NaN,NaN,0.032811,0.178142,0.0,0.0,0.0,0.0,1.0
latitude,750048,188725,"-3,76999035",460,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,750048,188874,"-38,67006282",460,NaN,NaN,NaN,NaN,NaN,NaN,NaN