### Importando as bibliotecas necessárias para iniciar a leitura dos arquivos

In [ ]:
import pandas as pd

#### Lendo os dados da base única de 2011 a 2021

In [80]:
df_accidents = pd.read_csv("../../databases/acidentes2011_2021.csv")
df_accidents.info()
df_accidents.describe(include="all").T

/var/folders/z1/3syxl8gd5ks431s8c9n9mrs00000gn/T/ipykernel_16844/1914107478.py:1: DtypeWarning: Columns (6,7,18,21,26,27,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_accidents = pd.read_csv("../../databases/acidentes2011_2021.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2818892 entries, 0 to 2818891
Data columns (total 34 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id                      float64
 1   pesid                   float64
 2   data_inversa            object
 3   dia_semana              object
 4   horario                 object
 5   uf                      object
 6   br                      object
 7   km                      object
 8   municipio               object
 9   causa_acidente          object
 10  tipo_acidente           object
 11  classificacao_acidente  object
 12  fase_dia                object
 13  sentido_via             object
 14  condicao_metereologica  object
 15  tipo_pista              object
 16  tracado_via             object
 17  uso_solo                object
 18  id_veiculo              object
 19  tipo_veiculo            object
 20  marca                   object
 21  ano_fabricacao_veiculo  object
 22  tipo_envolvido          object
 23  estado_fisico           object
 24  idade                   float64
 25  sexo                    object
 26  nacionalidade           object
 27  naturalidade            object
 28  ilesos                  float64
 29  feridos_leves           float64
 30  feridos_graves          float64
 31  mortos                  float64
 32  latitude                object
 33  longitude               object
dtypes: float64(7), object(27)
memory usage: 731.2+ MB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,2818892.0,NaN,NaN,NaN,31081836.95494,39821890.171416,8.0,345112.0,1158363.5,83197564.0,83529889.0
pesid,2818887.0,NaN,NaN,NaN,14122555.72547,28095952.168417,1.0,769528.5,3589676.0,4740393.5,83988085.0
data_inversa,2818892,3834,21/04/2011,2696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dia_semana,2818892,25,Domingo,319570,NaN,NaN,NaN,NaN,NaN,NaN,NaN
horario,2818892,1473,18:00:00,45772,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uf,2818892,28,MG,375157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
br,2817501.0,286.0,101.0,458769.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
km,2817501.0,25668.0,1.0,7681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
municipio,2818892,2238,CURITIBA,38511,NaN,NaN,NaN,NaN,NaN,NaN,NaN
causa_acidente,2818892,132,Falta de atenção,700975,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_acidente,2818892,43,Colisão traseira,838135,NaN,NaN,NaN,NaN,NaN,NaN,NaN
classificacao_acidente,2818890,11,Com Vítimas Feridas,1318172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fase_dia,2818891,6,Pleno dia,1651766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sentido_via,2818892,5,Decrescente,1356733,NaN,NaN,NaN,NaN,NaN,NaN,NaN
condicao_metereologica,2818885,15,Ceu Claro,1034564,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_pista,2818892,7,Simples,966483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tracado_via,2818892,19,Reta,1387613,NaN,NaN,NaN,NaN,NaN,NaN,NaN
uso_solo,2818892,7,Urbano,1119505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_veiculo,2814893,2195242,(null),25468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_veiculo,2814890,48,Automóvel,1292387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marca,2747372,21331,(null),275944,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ano_fabricacao_veiculo,2759168,248,2010,187477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipo_envolvido,2818892,11,Condutor,2194918,NaN,NaN,NaN,NaN,NaN,NaN,NaN
estado_fisico,2818889,18,Ileso,1226974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
idade,2708913.0,NaN,NaN,NaN,34.457141,35.983494,-1.0,24.0,34.0,46.0,2020.0
sexo,2818317,9,Masculino,2004391,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nacionalidade,2058328,115,Brasil,1772473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
naturalidade,1927911,9468,Não Informado,970502,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ilesos,750048.0,NaN,NaN,NaN,0.448387,0.497329,0.0,0.0,0.0,1.0,1.0
feridos_leves,750048.0,NaN,NaN,NaN,0.353597,0.478086,0.0,0.0,0.0,1.0,1.0
feridos_graves,750048.0,NaN,NaN,NaN,0.1071,0.30924,0.0,0.0,0.0,0.0,1.0
mortos,750048.0,NaN,NaN,NaN,0.032811,0.178142,0.0,0.0,0.0,0.0,1.0
latitude,750048,188725,"-3,76999035",460,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,750048,188874,"-38,67006282",460,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Verificando se o dataframe tem linhas duplicadas

In [ ]:
df_accidents.duplicated().sum()

#### Verificando dados faltantes na coluna "br" antes do tratamento

In [87]:
df_accidents[df_accidents["br"].isnull()]

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,...,idade,sexo,nacionalidade,naturalidade,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude
2069128,160.0,1467.0,2017-01-01,domingo,13:50:00,TO,NaN,NaN,GUARAI,Falta de Atenção à Condução,...,26.0,Masculino,NaN,NaN,0.0,1.0,0.0,0.0,"-8,84469369","-408,51053048"
2069915,472.0,2827.0,2017-01-02,segunda-feira,10:00:00,RJ,NaN,NaN,RIO DE JANEIRO,Falta de Atenção à Condução,...,36.0,Feminino,NaN,NaN,1.0,0.0,0.0,0.0,"-22,81966089","-43,32791895"
2069916,472.0,2818.0,2017-01-02,segunda-feira,10:00:00,RJ,NaN,NaN,RIO DE JANEIRO,Falta de Atenção à Condução,...,57.0,Masculino,NaN,NaN,1.0,0.0,0.0,0.0,"-22,81966089","-43,32791895"
2072069,1506.0,3146.0,2017-01-06,sexta-feira,14:30:00,MG,NaN,NaN,FRONTEIRA,Defeito na Via,...,56.0,Masculino,NaN,NaN,1.0,0.0,0.0,0.0,"-20,2223098","-49,14685607"
2072465,1721.0,3299.0,2017-01-04,quarta-feira,00:20:00,BA,NaN,NaN,SALVADOR,Não guardar distância de segurança,...,30.0,Masculino,NaN,NaN,1.0,0.0,0.0,0.0,"-12,96354367","-38,49294752"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2817285,366957.0,818906.0,2021-06-28,segunda-feira,06:00:00,RJ,NaN,NaN,ANGRA DOS REIS,Ingestão de álcool e/ou substâncias psicoativa...,...,53.0,Masculino,NaN,NaN,0.0,1.0,0.0,0.0,"-23,02147898","-44,52344494"
2817286,366957.0,818902.0,2021-06-28,segunda-feira,06:00:00,RJ,NaN,NaN,ANGRA DOS REIS,Ingestão de álcool e/ou substâncias psicoativa...,...,19.0,Feminino,NaN,NaN,0.0,1.0,0.0,0.0,"-23,02147898","-44,52344494"
2817287,366957.0,818900.0,2021-06-28,segunda-feira,06:00:00,RJ,NaN,NaN,ANGRA DOS REIS,Ingestão de álcool e/ou substâncias psicoativa...,...,18.0,Masculino,NaN,NaN,0.0,1.0,0.0,0.0,"-23,02147898","-44,52344494"
2817288,366957.0,818899.0,2021-06-28,segunda-feira,06:00:00,RJ,NaN,NaN,ANGRA DOS REIS,Ingestão de álcool e/ou substâncias psicoativa...,...,27.0,Masculino,NaN,NaN,0.0,1.0,0.0,0.0,"-23,02147898","-44,52344494"
2817662,367188.0,818107.0,2021-06-29,terça-feira,07:20:00,PR,NaN,NaN,FOZ DO IGUACU,Neblina,...,51.0,Masculino,NaN,NaN,1.0,0.0,0.0,0.0,"-25,50982809","-54,59753461"

#### Verificando os tipos de dados presentes na coluna "br"

In [ ]:
df_accidents["br"].apply(type).value_counts()

#### Alterando o tipo de dados da coluna "br" para "str" e tratando dados faltantes como "Desconhecido", pois é apenas uma informação que não necessita ser numérica para esta análise

In [ ]:
df_accidents["br"] = df_accidents["br"].fillna("Desconhecido").astype("str")
df_accidents["br"].apply(type).value_counts()
df_accidents[df_accidents["br"] == "Desconhecido"].shape

#### Verificando dados faltantes na coluna "km" antes do tratamento

In [ ]:
df_accidents["km"].isna().sum()

#### Verificando os tipos de dados presentes na coluna "km"

In [ ]:
df_accidents["km"].apply(type).value_counts()

#### Alterando o tipo de dados da coluna "km" para "str" e tratando dados faltantes como "Desconhecido", pois é apenas uma informação que não necessita ser numérica para esta análise

In [ ]:
df_accidents["km"] = df_accidents["km"].fillna("Desconhecido").astype("str")
df_accidents["km"].apply(type).value_counts()
df_accidents[df_accidents["km"] == "Desconhecido"].shape

#### Verificando dados faltantes na coluna "id_veiculo" antes do tratamento

In [ ]:
df_accidents["id_veiculo"].isna().sum()

#### Verificando os tipos de dados presentes na coluna "id_veiculo"

In [ ]:
df_accidents["id_veiculo"].apply(type).value_counts()

#### Alterando o tipo de dados da coluna "id_veiculo" para "str" e tratando dados faltantes como "Desconhecido", pois é apenas uma informação que não necessita ser numérica para esta análise

In [ ]:
df_accidents["id_veiculo"] = df_accidents["id_veiculo"].fillna("Desconhecido").astype("str")
df_accidents["id_veiculo"].apply(type).value_counts()
df_accidents[df_accidents["id_veiculo"] == "Desconhecido"].shape

#### Verificando dados faltantes na coluna "ano_fabricacao_veiculo" antes do tratamento

In [ ]:
df_accidents["ano_fabricacao_veiculo"].isna().sum()

#### Verificando os tipos de dados presentes na coluna "ano_fabricacao_veiculo"

In [ ]:
df_accidents["ano_fabricacao_veiculo"].apply(type).value_counts()

#### Alterando o tipo de dados da coluna "ano_fabricacao_veiculo" para "str" e tratando dados faltantes como "Desconhecido", pois é apenas uma informação que não necessita ser numérica para esta análise

In [ ]:
df_accidents["ano_fabricacao_veiculo"] = df_accidents["ano_fabricacao_veiculo"].fillna("Desconhecido").astype("str")
df_accidents["ano_fabricacao_veiculo"].apply(type).value_counts()
df_accidents[df_accidents["ano_fabricacao_veiculo"] == "Desconhecido"].shape

#### Verificando dados faltantes na coluna "nacionalidade" antes do tratamento

In [ ]:
df_accidents["nacionalidade"].isna().sum()

#### Verificando os tipos de dados presentes na coluna "nacionalidade"

In [ ]:
df_accidents["nacionalidade"].apply(type).value_counts()

#### Alterando o tipo de dados da coluna "nacionalidade" para "str" e tratando dados faltantes como "Não Informado", seguindo os padrões da própria base de dados

In [ ]:
df_accidents["nacionalidade"] = df_accidents["nacionalidade"].fillna("Não Informado").astype("str")
df_accidents["nacionalidade"].apply(type).value_counts()
df_accidents[df_accidents["nacionalidade"] == "Não Informado"].shape

#### Verificando dados faltantes na coluna "naturalidade" antes do tratamento

In [ ]:
df_accidents["naturalidade"].isna().sum()

#### Verificando os tipos de dados presentes na coluna "naturalidade"

In [ ]:
df_accidents["naturalidade"].apply(type).value_counts()

#### Alterando o tipo de dados da coluna "naturalidade" para "str" e tratando dados faltantes como "Não Informado", seguindo os padrões da própria base de dados

In [ ]:
df_accidents["naturalidade"] = df_accidents["naturalidade"].fillna("Não Informado").astype("str")
df_accidents["naturalidade"].apply(type).value_counts()
df_accidents[df_accidents["naturalidade"] == "Não Informado"].shape

#### Verificando dados faltantes na coluna "latitude" antes do tratamento

In [ ]:
df_accidents["latitude"].isna().sum()

#### Verificando os tipos de dados presentes na coluna "latitude"

In [ ]:
df_accidents["latitude"].apply(type).value_counts()

#### Alterando o tipo de dados da coluna "latitude" para "str" e tratando dados faltantes como "Desconhecida", pois dos anos de 2011 a 2016 essa informação não existia

In [ ]:
df_accidents["latitude"] = df_accidents["latitude"].fillna("Desconhecida").astype("str")
df_accidents["latitude"].apply(type).value_counts()
df_accidents[df_accidents["latitude"] == "Desconhecida"].shape

#### Verificando dados faltantes na coluna "longitude" antes do tratamento

In [ ]:
df_accidents["longitude"].isna().sum()

#### Verificando os tipos de dados presentes na coluna "longitude"

In [ ]:
df_accidents["longitude"].apply(type).value_counts()

#### Alterando o tipo de dados da coluna "longitude" para "str" e tratando dados faltantes como "Desconhecida", pois dos anos de 2011 a 2016 essa informação não existia

In [ ]:
df_accidents["longitude"] = df_accidents["longitude"].fillna("Desconhecida").astype("str")
df_accidents["longitude"].apply(type).value_counts()
df_accidents[df_accidents["longitude"] == "Desconhecida"].shape

#### Salvando os dados em um novo CSV após o tratamento de dados das colunas acima para ter uma base mais limpa

In [ ]:
with open("../../databases/acidentes2011_2021_tratada_v1.csv", "w") as f:
    df_accidents.to_csv(f, index=False)